body {
  margin: 0;
  font-family: "spacegrotesk-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 2% !important;
  margin-left: 2% !important;
  background-position: 0px 0px, 0px 0px;
  color: #cec9c9;
  font-family: "spacegrotesk-regular" !important;

}

.background {
  height: 100vh;
}

@font-face {
font-family: "spacegrotesk-bold";
src: url("/fonts/spacegrotesk-bold-webfont.woff");
src:
url("/fonts/spacegrotesk-bold-webfont.woff") format("woff"),
url("/fonts/spacegrotesk-bold-webfont.woff2") format("woff2")
}

.background:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("/zwartevilt.png");
  content: "";
  height: 400%;
  left: -50%;
  position: fixed;
  top: -150%;
  width: 300%;
  z-index: -1;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}


  @media only screen and (max-width: 480px) {

    #navBar {
      display: none !important;
    }

    .burgerButton {
      display: flex !important;
    }

    .mobileNav {
      display: flex !important;
    }


  }

  @media only screen and (max-width: 843px) {
    .name {

        white-space: nowrap !important;

    }
    .heading {
      margin-left: -15%;
    }
  }

  @media only screen and (min-width: 481px) {
    .heading {
      margin-left: -60%
  }
}

  @media only screen and (max-width: 585px) {
    .heading {
      font-size: 20px !important;
      white-space: nowrap !important;
    }
    .navLinksRight {
      font-size: 15px !important;

    }

    .navLinksLeft {
      font-size: 15px !important;
    }

  }
