body {
  margin: 0;
  font-family: "spacegrotesk-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 2% !important;
  margin-left: 2% !important;
  background-position: 0px 0px, 0px 0px;
  background-color: black;
  color: #cec9c9;
  font-family: "spacegrotesk-regular" !important;
}

.background {
  height: 100vh;
  background-color: black;
}

@font-face {
font-family: "spacegrotesk-regular";
src: url("/fonts/spacegrotesk-regular-webfont.woff");
src:
url("/fonts/spacegrotesk-regular-webfont.woff") format("woff"),
url("/fonts/spacegrotesk-regular-webfont.woff2") format("woff2")
}

.background:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("/zwartevilt.png");
  content: "";
  height: 400%;
  left: -50%;
  opacity: 0.7;
  position: fixed;
  top: -150%;
  width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}


  @media only screen and (max-width: 480px) {

    #navBar {
      display: none !important;
    }

    .burgerButton {
      display: flex !important;
    }

    .mobileNav {
      display: flex !important;
    }


  }
